{% extends "base.html"%} {% block content %} {% load static %}
<section class="content">
  <div class="main-header">
    <img src="{% static 'img/twitter.png' %}" class="logo" style="
    width: 50px;" />
    <h1>HOME</h1>
  </div>
  <section class="post_form" style="height: 150px;">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <input  type="text" name="name" placeholder="Your name" />
      <textarea class="text1" name="body" placeholder="What's Happening?" style="width: 92%;"></textarea>
      
      <div class="my-icon">
        <input  class="my-icon1" type="file" name="image" style="background-color: white;"/>
      </div>
      <div class="tweet">
        <button type="submit" value="Tweet">Tweet</button>
      </div>
    </form>
  </section>
  <section class="posts">
    <ul>
      {% for post in posts%}
      <li>
        <img class="menu_icon js-menu-icon" src="{% static 'img/MENU.png' %}" />
        <div class="menu">
          
          <a href="/edit/{{ post.id }}">Edit</a><br/>
          <a href="/delete/{{ post.id }}">Delete</a>
        </div>
        <div class="logo">
          <img src="{% static 'img/profile-user.png' %}" />
        </div>
        <div class="name_body">
          <div class="name">{{ post.name }}</div>
          <div class="datetime">{{ post.created_at }}</div>
        
        </br>
        <div >
          <p>{{post.body}}<br></p>
          <!-- {% if post.image.url %} -->
          <img class="post-border" src="{{ post.image.url }}"/>
          <!-- {% endif %} -->
        </div>  
                  <form id="likes-form" action="{% url 'like_post' post.pk %}" method='POST'>
                          {% csrf_token %}
                      <button class="like-button" type="submit", name="post_id", value="{{ post.id }}" href="post_id">
                        &#10084;
                      </button>
                      {{post.likes}}
                  </form>
                  
                  
          
          
          
        </div>
      </li>
      {% endfor %}
    </ul>
    
  </section>
  <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'js/posts.js' %}"></script>
</section>

{% endblock %}
